common = {
    "RefreshToken": "Ke2OLTw4q9o-5l1GiMA_UA",
    "Apikey": "",

    "IntervalMinute": 5,
    "RestartMinute": 14,
    "LogLevel": 1,

    "DeviceId": "",
    "UserId": "",
    "DeviceName": "",
    "System": "mac",
    "UseGpus": False
}

